%% This is a sample rebar.conf file that shows examples of some of rebar's
%% options.

{deps, [
    {meck, ".*", {git, "https://github.com/eproxus/meck.git"}}
]}.

%% == Core ==

%% Additional library directories to add to the code path
{lib_dirs, []}.

%% == Erlang Compiler ==

%% Erlang compiler options
{erl_opts, [no_debug_info, cover, {src_dirs, ["src", "tests"]},
            {platform_define,
             "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'},
            {platform_define, "(linux|freebsd)", 'BACKLOG', 128},
            {platform_define, "R13", 'old_inets'}]}.

%% == EDoc ==

%% EDoc options
{edoc_opts, []}.

%% == EUnit ==

%% Options for eunit:test()
{eunit_opts, [
    {report, {eunit_surefire, [{dir, "."}]}}
]}.

{eunit_exclude_deps, true}.

%% Additional compile options for eunit. erl_opts is also used
{eunit_compile_opts, []}.

%% Same as erl_first_files, but used only when running 'eunit'
{eunit_first_files, []}.

%% == Cover ==

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, false}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, true}.

%% == Cleanup ==

%% Which files to cleanup
{clean_files, ["statsd_app", "statsd"]}.

%% == Reltool ==

%% Target directory for the release
{target, "ebin"}.

%% == OTP Applications ==

%% Binaries to link into the erlang path?
{app_bin, []}.

%% Enable validation of the OTP app module list. Default is 'true'
{validate_app_modules, true}.

